# Today's topics
- for loop
- iterables
- iter function
- range function
- next function
- control statements:break,continue and pass
  # What is for loop?
  A for loop is used to repeat a block of code for each item in a sequence (like a list,string,tuple,etc.).
  # Basic Syntax:
  for variable in sequence:
  #code block to execute
  # Common Uses
  - iterating over elements in a list,tuple,set or dictionary
  - repeating code a fixed number of times using range()
  - processing string or files by line

In [1]:
# usecase
print(1)
print(2)
print(3)
print(4)

1
2
3
4

# ITERABLES / SEQUENCE
### Definition:
An iterable in python is any object capable of returning its elements one at a time , allowing it to be used in a loop or with functions like iter() and next().
- list
- sets
- dictionaries
- str
- tuples

In [ ]:
# syntax
for variable in iterable:
    statements

In [4]:
l1=['aqram','harsh','anushka','prince']

In [5]:
# for loop
for i in l1:
    print(i)

aqram
harsh
anushka
prince

In [6]:
# sets
s1={'timeless','tum hi ho','excuses',295,'lover'}
s1
for i in s1:
    print(i)

timeless
lover
excuses
tum hi ho
295

In [8]:
# tuples
t1=('gulab jamun','kaju katli','gulab jamun','gevar','laddu','imarti')

In [9]:
for i in t1:
    print(i)

gulab jamun
kaju katli
gulab jamun
gevar
laddu
imarti

In [12]:
# dictionaries
dict1={'name':'varsha',
       'course':'data analytics',
       'voice pitch':'very low',
       'age':21}

In [14]:
for i,j in dict1.items():
    print(i,'\t\t',j)

name 		 varsha
course 		 data analytics
voice pitch 		 very low
age 		 21

In [16]:
dict1.items()

dict_items([('name', 'varsha'), ('course', 'data analytics'), ('voice pitch', 'very low'), ('age', 21)])

In [19]:
# stringa
str1='anushka'
#str1[0]
#str1[1]

for i in str1:
    print(i)

a
n
u
s
h
k
a

In [21]:
l1=['aqram','harsh','anushka','prince']

for i in l1:
    print(i) #--> string/nested loops
    for j in i:
        print(j)

aqram
a
q
r
a
m
harsh
h
a
r
s
h
anushka
a
n
u
s
h
k
a
prince
p
r
i
n
c
e

In [22]:
# concept
for i in l1:
    # print(i)
    print('anshu')

anshu
anshu
anshu
anshu

In [23]:
# problem statement
# 1-10
l1 = [1,2,3,4,5,6,7,8,9,10]
for i in l1:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [28]:
# what if 1-100 or 1-1000,1-100000
# range function
# range(start,end,stepsize)

In [29]:
# typecasting
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
for i in range(0,101,10):
    
    #last value is step size in this case this is 10
    print(i)

0
10
20
30
40
50
60
70
80
90
100

In [31]:
for i in range(0,101,1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [32]:
# 1 parameter
for i in range(5):
    print(i)

0
1
2
3
4

In [38]:
# iter function
l1=[20,31,42,34,55]
m=iter(l1)

In [39]:
# next function
print(next(m))
print(next(m))
print(next(m))
print(next(m))
print(next(m))

20
31
42
34
55

In [44]:
# pass
# continue
# break
for i in range (1,101):
    # future reference
    pass

In [45]:
# break
for i in range(1,6):
    print(i)
    if i==3:
        break

1
2
3

In [46]:
# continue
for i in range(1,6):
    if i==3:
        continue
    print(i)
    print('-'*20)

1
--------------------
2
--------------------
4
--------------------
5
--------------------